@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Bai Jamjuree", sans-serif;
  }
}

.animate__scale {
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.9, 1, 0.99, 2);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.span_1 {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.31, 0, 0.5, 0);
}
.span_2 {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.span_3 {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.span_4 {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.span_5 {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.span_6 {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.myAnim{
  animation: myAnim 1s ease 2s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.fade{
animation: fade 1s ease 4s 1 normal forwards;
}

@keyframes fade {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}